[user]
  name = {{ git_user_name }}
  email = {{ git_user_email }}
  editor = vim
{% if git_signing_key is defined %}
  signingkey={{ git_signing_key }}
{% endif %}

[core]
  excludesfile = /Users/{{ user_name }}/.gitignore_global
  autocrlf = input

[push]
  default = current

[github]
  user = {{ github_user_name }}

[alias]
  up = "!git remote update -p && git merge --ff-only @{u}"
  co = checkout
  ci = commit
  sw = switch
  st = status
  br = branch
  hist = log --oneline --graph
  type = cat-file -t
  dump = cat-file -p
  unstage = reset HEAD
  abortabort = reset --hard HEAD
  publish= "!f() { git push -u ${1:-origin} `git symbolic-ref HEAD`; }; f"
  get= "!f() { git branch --track $1 origin/$1; }; f"

[color]
  diff = auto
  status = auto
  interactive = auto
  ui = auto

[rebase]
  autoStash = true

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[merge]
  tool = Kaleidoscope

[diff]
  tool = Kaleidoscope
  compactionHeuristic = true

[difftool]
  prompt = false

[commit]
  gpgsign = true

[pager]
  branch = false

[init]
  defaultBranch = main
